body {
  font: 12px Helvetica, Arial, sans-serif;
  background: url("../../theme/images/cork.gif") repeat scroll;
}
/*  background #806040
*/
/*header-icon quote main-menu fortune body
  background #ffffff

promotoed-articles-title
  background #e0e0e0

promoted-articles
  text-color #a06040

block-border
  color #c0c0c0

#ffe060
#ffff60
#e0e060
#200000*/
a {
  text-decoration: none;
}
/*  color #FF00BD
*/
a:hover,
a:focus {
  text-decoration: underline;
}
.pure-u {
  padding: 1em;
}
.sidebar {
  text-align: center;
}
.logo {
  margin-top: 15px;
}
.side-navigation-li {
  background: #fff;
  padding: 1em;
}
.categories-list {
  padding: 1em;
  width: 222px;
}
ul {
  text-align: left;
}
.logo-image {
  padding: 2em;
  background: #fff;
}
.quote-text {
  background: #fff;
  margin-top: 5px;
}
/*a.quote-text-body
      display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;*/
.article-wrapper {
  background: #fff;
  margin-top: 10px;
}
/*.article-title
*/
