<div id="article-meta">
  Published by {% if article.author %}
    {{ article.author }}
  {% endif %}
  on 
  <time datetime="{{ article.date.isoformat() }}" pubdate="pubdate">{{ article.locale_date }}
  </time>
  <br>
  Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  <br>
  {% if article.tags %}Tags: 
    {% for tag in article.tags %}
      {%if loop.index > 1%}, 
      {%endif%}
      <a href="{{ SITEURL }}/{{ tag.url }}">
        {{ tag }}
      </a>
    {% endfor %}
  {% endif %}
</div>