{% extends "base.html" %}

{% block title %}
  {{ SITENAME }} - Archives
{% endblock %}

{% block content %}
  {{ super() }}

  <div id="archives" class="pure-u-4-5">
    {% block archives %}
      <h1>Archives</h1>

      <div id="archives-list">
        <dl>
          {% for article in dates %}
            <dt>{{ article.locale_date }}</dt>
            <dd>
              <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}
              </a>
            </dd>
          {% endfor %}
        </dl>
      </div>
    {% endblock %}
  </div>
{% endblock %}
