{% extends "base.html" %}

{% block title %}
  {{ SITENAME }} - {{ article.title }}
{% endblock %}

{% block content %}   
  {{ super() }}
     
  <div class="left pure-u-2-5">
    <div class="left-wrapper pure-u-1">
      <div class="categories-list pure-u-2-3">
        {% include 'widgets/categories-list.html' %}
      </div>
    </div>
  </div>

  <div class="right pure-u-3-5">
    <div class="right-wrapper pure-u-1">
    <div class="quote pure-u-1">
      {% include 'widgets/quote.html' %}
    </div>

    <div class="article-wrapper pure-u-1">
      <article class="pure-u-1">
        <header class="article-header">
          {% include 'widgets/article-meta.html' %}
          <hr>
          
          {% include 'widgets/article-title.html' %}
        </header>

        <section class="article-content">
          {{ article.content }}
        </section>
      </article>
    </div>
  </div>
{% endblock %}
