{% extends "base.html" %}

{% block title %}
  {{ SITENAME }} - {{ article.title }}
{% endblock %}

{% block content %}   
  {{ super() }}

  {% block article %}
    <div id="article" class="pure-u-4-5">
      {% block article_title %}
        {% include '!base/widgets/article-title.html' %}
      {% endblock %}

      {% block article_meta %}
         {% include '!base/widgets/article-meta.html' %}
      {% endblock %}

      {% block article_content %}
        <div id="article-content">
          {{ article.content }}
        </div>
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}
