{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block content %}        
  <div class="root-layout pure-g-r">
    <div class="left pure-u-2-5">
      <div class="sidebar pure-u-1">
        <div class="logo pure-u-2-3">
          {% include 'widgets/logo.html' %}
        </div>
        <div class="categories-list pure-u-2-3">
          {% include 'widgets/categories-list.html' %}
        </div>
      </div>
  </div>

  <div class="right pure-u-3-5">
    <div class="quote pure-u-1">
      {% include 'widgets/quote.html' %}
    </div>

    <div class="article pure-u-1">
      <section id="post" class="article">
        <header class="header-article">
          {% include 'widgets/article-title.html' %}
          {% include 'widgets/article-meta.html' %}
        </header>

        <section class="post_content">
          {{ article.content }}
        </section>
      </section>
    </div>
  </div>

  </div>
{% endblock %}
