<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" xmlns="http://www.w3.org/1999/xhtml">
  {% block head %}
    <head>
      {% include 'headers/meta.html' %}
      {% include 'headers/stylesheets.html' %}
      {% include 'headers/feeds.html' %}
    </head>
  {% endblock %}

  {% block body %}
    <body>
      <div id="content layout" class="pure-g-r">
        {% block content %}
          {% block logo %}
            <div id="logo" class="pure-u-1-6">
              {% include 'widgets/logo.html' %}
            </div>
          {% endblock%}

          {% block header %}
            <div id="header" class="pure-u-5-6">
              {% include 'widgets/header.html' %}
            </div>
          {% endblock %}  
          
          {% block menu %}
            <div id="menu" class="pure-u-1">
              {% include 'widgets/menu.html' %}
            </div>
          {% endblock %}

          {% block categories %}
            <div id="categories" class="pure-u-1-5">
              {% include 'widgets/categories-list.html' %}
            </div>
          {% endblock %}
        {% endblock %}
      </div>
    </body>
  {% endblock %}
</html>