{% extends "base.html" %}

{% block title %}
  {{ SITENAME }}
{% endblock %}

{% block content %}
  {{ super() }}
  {% block header %}
    <div id="header" class="pure-u-5-6">
      {% include 'widgets/header.html' %}
    </div>
  {% endblock %}  
  
  {% block menu %}
    <div id="menu" class="pure-u-1">
      {% include 'widgets/menu.html' %}
    </div>
  {% endblock %}

  {% block categories %}
    <div id="categories" class="pure-u-1-5">
      {% include 'widgets/categories-list.html' %}
    </div>
  {% endblock %}

  {% block articles_index %}
    <div id="articles-index" class="pure-u-1-5">
      {% include 'widgets/articles-index.html' %}
    </div>
  {% endblock %}

{% endblock %}
