{% extends "base.html" %}

{% block title %}
  {{ SITENAME }} - List of Tags
{% endblock %}

{% block content %}
  {{ super() }}

  {% block tags_index %}
    <div id="tags-index" class="pure-u-4-5">
      <h2 class="page_title">
        List of Tags
      </h2>
      <ul id="tag_list">
        {% for tag, articles in tags %}
          <li>
            <h3>
              <a href="{{SITEURL}}/{{tag.url}}">
                {{ tag }}
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endblock%}
{% endblock %}
